html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

main {
  min-height: 100%;
}

main,
header {
  width: 320px;
  margin: 0 auto;
}

button {
  color: white;
}

/* border */

main,
header,
.profile-pic,
.modal,
.your-reply-container,
.delete-modal {
  border: solid 1px rgba(211, 211, 211, 0.219);
}

/* typography & icons*/

button,
i,
li {
  cursor: pointer;
}
.message{
  outline: none;
}

h1,
#tweet-input,
#tweet-btn {
  font-size: 20px;
}

#tweet-btn,
#reply-btn,
#edit-btn {
  font-weight: 600;
}

p {
  font-size: 13px;
  letter-spacing: 1px;
}

i {
  font-size: 15px;
}

a {
  text-decoration: none;
}

.dot {
  display: inline-block;
  height: 2px;
  width: 2px;
  margin-bottom: 3px;
  border-radius: 50%;
  background-color: rgb(83, 100, 113);
}

.fa-ellipsis:hover {
  color: rgb(29, 155, 240);
}

/* filler */

.space {
  height: 10%;
}

/* color class */

.twitter-gray {
  color: rgb(83, 100, 113);
}

.twitter-red {
  color: red;
}

.twitter-limegreen {
  color: limegreen;
}

.smoke-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.twitter-blue {
  color: rgb(29, 155, 240);
}

.twitter-background-blue {
  background-color: rgb(29, 155, 240);
}
.twitter-background-gray {
  background-color: rgb(83, 100, 113);
}

/* reused spacing property */

.tweet-input-area,
.tweet-container,
.tweet-message,
.reply-container,
.tweets-reply-container,
.tweet-container > p,
.tweet-count > p {
  padding-left: 7px;
}

.tweet-input-area,
.tweet-container,
.tweets-reply-container > .tweet-title {
  padding-top: 7px;
}

.tweet-input-area,
.tweet-container,
.reply-container,
.tweets-reply-container {
  padding-right: 11px;
}

/* header */

header > h1 {
  color: #0f8cdf;
  margin-bottom: 20px;
  padding-left: 10px;
}

/* tweet avatar img*/

.profile-pic {
  border-radius: 50%;
  width: 50px;
}

/* tweet input area*/

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#tweet-input {
  border: none;
  resize: none;
  outline-color: black;
  height: 60px;
  line-height: 30px;
  margin: 0 0 20px 0;
  padding: 10px;
}

/* tweet button*/

#tweet-btn {
  display: block;
  margin: 0 auto;
  border: none;
  width: 90%;
  border-radius: 20px;
  height: 40px;
  padding: 10 19px;
}

/* tweet feed*/

.tweet-feed {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}

/* tweet container*/

.tweet-container {
  display: flex;
  flex-direction: column;
  border-top: solid 1px rgba(211, 211, 211, 0.219);
  border-bottom: solid 1px rgba(211, 211, 211, 0.219);
}

/* tweet header*/

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.title-content {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.title-content > p,
i {
  margin-bottom: 0;
  margin-top: 5px;
}

.tweet-title {
  width: 100%;
}

.avatar-account {
  margin-top: 0;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

/* tweet-message */

.tweet-message {
  margin-bottom: 0px;
}

/* tweet-count */

.tweet-count {
  display: flex;
  gap: 20px;
  border-top: solid 1px rgba(211, 211, 211, 0.219);
  border-bottom: solid 1px rgba(211, 211, 211, 0.219);
}

.tweet-count > p {
  font-size: 12px;
}

/* tweet footer */

.tweet-footer {
  width: 75%;
  margin: auto;
  padding: 9px 0 9px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* tweets replies */

.tweets-reply-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tweets-reply-container:hover {
  background-color: rgba(0, 0, 0, 0.041);
}

.tweets-reply-container > .tweet-title > .title-content > .twitter-gray {
  margin-top: 0;
}

.avatar-reply-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-top: 0;
}

/* tweet reply footer */

.tweet-footer-reply {
  display: flex;
  align-items: center;
  gap: 65px;
  padding-bottom: 9px;
}

/* tweet pipes*/

.pipe {
  color: gray;
  border: solid 1px gray;
  height: 100%;
}

.top-pipe {
  color: gray;
  border: solid 1px gray;
  height: 10%;
}

.top-pipe-end-reply {
  color: gray;
  border: solid 1px gray;
  height: 4%;
}

/* menu modal */

.modal {
  width: 150px;
  height: 115px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  z-index: 100;
  position: fixed;
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu > li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  font-weight: 500;
}

.menu > li:hover {
  background-color: rgba(0, 0, 0, 0.041);
  cursor: pointer;
}

.show {
  display: block !important;
}

/* tweet modal reply*/

.your-reply-container {
  display: none;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
}

.close {
  cursor:pointer;
  padding: 25px;
  width: 5px;
}

.reply-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
}

.reply-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 2px;
}

.your-reply {
  border: none;
  resize: none;
  outline-style: none;
  width: 95%;
  height: 100px;
  font-size: 13px;
  letter-spacing: 1px;
  padding-top: 25px;
}

.reply-btn-container {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 15px;
}

#reply-btn,#edit-btn {
  border: none;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.show-flex {
  display: flex !important;
}

/* delete moda */

.delete-modal {
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  background-color: rgba(255, 255, 255, 1);
  width: 160px;
  padding: 15px;
  border-radius: 7px;
}

.delete-modal > h4 {
  margin: 0px;
  padding-bottom: 10px;
}

.answer-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.answer-container > button {
  width: 80px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

/* deleted tweet */

.deleted-tweet-container{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media query */

@media only screen and (min-width: 375px) {
  main,
  header {
    width: 375px;
  }
  .your-reply-input {
    gap: 50px;
  }
  .your-reply {
    font-size: 15px;
    padding-top: 15px;
  }
  p {
    font-size: 15px;
  }
  .delete-modal {
    width: 180px;
  }
}

@media only screen and (min-width: 425px) {
  main,
  header {
    width: 425px;
  }
  .your-reply {
    padding-top: 25px;
  }
  .delete-modal {
    width: 200px;
  }
  .delete-modal > h4 {
    margin: 0px 15px;
  }
}

@media only screen and (min-width: 768px) {
  .your-reply-container {
    width: 400px;
    height: 350px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.041);
    margin-left: 25px;
    top: 50;
  }
}

@media only screen and (min-width: 1024px) {
  main,
  header {
    width: 425px;
  }
  .your-reply-container {
    width: 600px;
  }
  .your-reply {
    font-size: 18px;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  main,
  header {
    width: 500px;
  }

  header > h1 {
    font-size: 30px;
  }
  .your-reply {
    padding-top: 40px;
    width: 70%;
  }

  #tweet-input {
    padding-top: 25px;
    height: 100px;
    width: 80%;
  }

  p,
  i {
    font-size: 17px;
    letter-spacing: 1px;
  }
  .tweet-count > p {
    font-size: 15px;
  }

  #reply-btn,#edit-btn {
    font-size: 20px;
  }
  #tweet-btn {
    padding-bottom: 35px;
  }
  .profile-pic {
    width: 70px;
    height: 70px;
  }
  .modal {
    width: 10%;
  }
  .delete-modal {
    width: 240px;
  }
  .delete-modal > h4 {
    font-size: 20px;
  }
}
